.library-body {
  width: 90%;
  height: 90%;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: flex-start;
  gap: 3%;
}

.playlist-card {
  width: 15%;
  height: 35%;
  border-radius: 20px;
  border: 1px solid white;
  color: aqua;
  padding: 1%;
  margin-bottom: 2%;
  background: #ffffff1e;
  /* background: radial-gradient(
    circle,
    rgba(145, 238, 181, 0.7511379551820728) 43%,
    rgba(5, 58, 13, 0.9) 100%
  ); */

  transition: all 0.3s ease;
  cursor: pointer;
}

.playlist-card:hover {
  transform: scale(1.05);
}

.playlist-card:hover .playlist-fade {
  opacity: 1;
}

.playlist-image {
  width: 100%;
  height: 64%;
  aspect-ratio: 1;
  border-radius: 20px;
}

.playlist-title {
  font-weight: 800;
  font-size: 16px;
  color: aliceblue;
  margin: 10px 0px 0px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.playlist-subtitle {
  font-weight: 550;
  font-size: 14px;
  margin: 0px;
  color: rgb(235, 139, 15);
}

.playlist-fade {
  position: absolute;
  width: 84%;
  height: 34%;
  opacity: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  transition: all 0.4s ease-in-out;
  padding: 12px;
}
