a {
  text-decoration: none !important;
}

.btn-body {
  height: 80px;
  width: 80px;
  border-radius: 20px;
  color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: rgba(246, 230, 219, 0.01);
}

.btn-body.active {
  background-color: rgba(240, 248, 255, 0.6);
  color: #fff;
  transform: scale(1.05);
}

.btn-body:hover {
  color: #fff;
  font-size: 16px;
  background-color: rgba(240, 248, 255, 0.6);
}

.btn-title {
  margin: 4px auto;
  font-weight: 600;
  font-size: 15px;
}
